<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/templateIframe.css">
</head>
<body>
    <div id="principal">	
        <div class="sidebar">

            <a href="./2-col-fixed.htm" target="frame2">2-col-fixed</a>
            <a href="./3-col-elastic.htm" target="frame2">3-col-elastic</a>
            <a href="./3-col-fixed.htm" target="frame2">3-col-fixed</a>
            <a href="./3-col-hybrid.htm" target="frame2">3-col-hybrid</a>
            <a href="./3-col-liquid.htm" target="frame2">3-col-liquid</a>
            <a href="./capitulo9 - Layout multicolunas.html" target="frame2">capitulo9 - Layout multicolunas</a>
            <a href="./centering-auto-margin.htm" target="frame2">centering-auto-margin</a>
            <a href="./centering-negative-margin.htm" target="frame2">centering-negative-margin</a>
            <a href="./display-2.html" target="frame2">display-2</a>
            <a href="./display-arroba.html" target="frame2">display-arroba</a>
            <a href="./espacamento-vertical.html" target="frame2">espacamento-vertical</a>
            <a href="./exemplo-landingpage.html" target="frame2">exemplo-landingpage</a>
            <a href="./exemplo-landingpage2.html" target="frame2">exemplo-landingpage2</a>
            <a href="./exemplo-landingpage3.html" target="frame2">exemplo-landingpage3</a>
            <a href="./faux-2-col-fixed.htm" target="frame2">faux-2-col-fixed</a>
            <a href="./faux-3-col-fixed.htm" target="frame2">faux-3-col-fixed</a>
            <a href="./faux-3-col-liquid.htm" target="frame2">faux-3-col-liquid</a>
            <a href="./float.html" target="frame2">float</a>
            <a href="./formulario.html" target="frame2">formulario</a>
            <a href="./funcao-minmax.html" target="frame2">funcao-minmax</a>
            <a href="./layout_one_col_menu_header.html" target="frame2">layout_one_col_menu_header</a>
            <a href="./layout_two_col_menu_lateral_fixo.html" target="frame2">layout_two_col_menu_lateral_fixo</a>
            <a href="./layout_two_col_menu_lateral.html" target="frame2">layout_two_col_menu_lateral</a>
            <a href="./layout-centrado-na-tela.html" target="frame2">layout-centrado-na-tela</a>
            <a href="./layout-fixo.html" target="frame2">layout-fixo</a>
            <a href="./layout-fluido-elastico.html" target="frame2">layout-fluido-elastico</a>
            <a href="./layout-fluido.html" target="frame2">layout-fluido</a>
            <a href="./Layout-OneCol-HeaderFixed.html" target="frame2">Layout-OneCol-HeaderFixed</a>
            <a href="./layout2col copy.html" target="frame2">layout2col copy</a>
            <a href="./layout2col-resp copy.html" target="frame2">layout2col-resp copy</a>
            <a href="./layout2col-resp.html" target="frame2">layout2col-resp</a>
            <a href="./layout2col.html" target="frame2">layout2col</a>
            <a href="./layoutBasico2Colunas.html" target="frame2">layoutBasico2Colunas</a>
            <a href="./layoutBasico3Colunas.html" target="frame2">layoutBasico3Colunas</a>
            <a href="./layoutCentralizandoObjeto.html" target="frame2">layoutCentralizandoObjeto</a>
            <a href="./liquid-images.htm" target="frame2">liquid-images</a>
            <a href="./propriedade-same.html" target="frame2">propriedade-same</a>
            <a href="./rodape-embaixo.html" target="frame2">rodape-embaixo</a>
            <a href="./template-aninhado.html" target="frame2">template-aninhado</a>
            <a href="./template.html" target="frame2">template</a>
            <a href="./template1.html" target="frame2">template1</a>
            <a href="./vertical-align.html" target="frame2">vertical-align</a>
            <a href="./visao-geral-1.html" target="frame2">visao-geral-1</a>
        </div>
        <main>
            <iframe id="frame" name="frame2"></iframe>
        </main>	
    </div>
</body>
</html>